<html>

 <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
    Hello there <%= @request.query['first_name'] %> you are a <%= @request.query['sex'] %>
  <% else %>
    Enter thy name
        <form method='post' action="<%= @request.path %>">
        First name: <input type="text" name="first_name" placeholder='first name'/>
        <br />

    Enter gender: <br>
<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female <br>
<input type="submit" value="Submit" />
<% end %>
</form>

 <%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>
  <body>
    <h1>Glomb's Home Page</h1>
    <p>
      <h3> I'm learning to code Ruby</h3>
      <p>I only have to do the header once now.</p>

    </p>
    <table style="width:75%">
  <tr>
    <td><a href='index.html'>Home</a></td>
    <td><a href='glomb.html'>Glomb</a></td>
    <td><a href='me.html'>Me</a></td>
    <td><%=link_to('Google','https://www.google.com/')%></td>
  </tr>

</table>

    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3>This is the footer I only have to do once</h3>
      <p>All Rights Reserved yadda yadda yadda...</p>
    </div>
  </body>
</html>
